# Python files & caches
*.py
*.pyc
__pycache__/

# Environment / Scratch files
evidence/test_output.html
evidence

# Operating System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & Temporary files
*.log
